<section
  class="container-content-section"
  role="region"
  aria-label="Seção principal"
>
  <div class="content-text">
    <h1>Melhor lugar para o melhor treinador Pokémon</h1>

    <p>
      Buscando encontrar mais conhecimento sobre essas criaturas inctríveis e se
      tornar um melhro treinador? Este é o lugar certo para você.
    </p>

    <div class="container-animation">
      <img
        class="mouse-animation"
        src="../../../assets/scroll-down-mouse.gif"
        alt="Animação scroll mouse"
        aria-label="Animação de mouse indicando para rolar a página"
      />
    </div>
  </div>
</section>
