<app-busca-pokemon (emmitSearch)="buscar($event)"></app-busca-pokemon>

<section class="listagem" role="region" aria-label="Lista de Pokémons">
  <ng-template ngFor let-pokemon [ngForOf]="getTodosPokemons">
    <div class="container-cards" role="article" aria-label="Detalhes do Pokémon">
      <div class="card">
        <div class="img-pokemon">
          <img
            src="{{ pokemon?.status?.sprites?.front_default }}"
            [alt]="'Imagem do pokémon' + pokemon.name"
            style="width: 100px; height: 100px"
          />

          <div class="tipo-pokemon" role="complementary" aria-label="Tipos de Pokémon">
            <span
              class="spn-tipo"
              *ngFor="let tipo of pokemon?.status?.types"
              >{{ tipo?.type?.name }}
            </span>
          </div>
        </div>

        <div class="stats">
          <h1 class="nome-pokemon" aria-label="Nome do Pokémon">
            {{ pokemon.name }} #{{ pokemon?.status?.id }}
          </h1>

          <p class="altura-pokemon">Altura: {{ pokemon?.status?.height }}cm</p>
          <p class="peso-pokemon">Peso: {{ pokemon?.status?.weight }}</p>
          <p class="ataque-pokemon">Ataque: 90</p>
        </div>

        <div class="btns" role="group" aria-label="Ações da Pokédex">
          <button>Adicionar</button>
          <button>
            <a [routerLink]="['details', pokemon?.status?.id]" aria-label="Detalhes do Pokémon"> 
              Detalhes
            </a>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</section>
